* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body {
    font-family: "Goudy Bookletter 1911", sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 8px rgb(252, 252, 253);
    user-select: none;
}
#box{
    background-color: aqua;
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    -webkit-box-shadow: 10px 9px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 17px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 17px 1px rgba(0,0,0,0.75);
    

}
#box1 {
    background-color: darkslategray;
    width: 50vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: inset 0 0 1em black, 0 0 1em black;
    user-select: none;

}
#box11{
    height: 10vh;
    width: 50vw;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 1em black, 0 0 1em black;
}

#box12{
   height: 20vh;
   width: 50vw;
   background-color: darkslategray;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   box-shadow: inset 0 0 1em black, 0 0 1em black;
   
  
}

#box2{
    background-color: darkslategray;
    width: 50vw;
    height: 40vh;
    display: flex;
    box-shadow: inset 0 0 1em black, 0 0 1em black;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#box3{
    background-color: darkslategray;
    width: 50vw;
    height: 30vh;
    display: flex;
    box-shadow: inset 0 0 1em black, 0 0 1em black;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

#RockButton{
    width:  15vw;
    height: 10vh;
    background-color: sienna;
    box-shadow: inset 0 0 1em black, 0 0 1em black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-image: url(images/rock.png);
    background-size: 100%;
}
#PaperButton{
    width:  15vw;
    height: 10vh; 
    background-color: white;
    box-shadow: inset 0 0 1em black, 0 0 1em black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/paper.png);
    background-size: 100%;
    border-radius: 25px;
}
#ScissorsButton{
    width:  15vw;
    height: 10vh;
    background-color: grey; 
    box-shadow: inset 0 0 1em black, 0 0 1em black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/scissors.png);
    background-size: 100%;
    border-radius: 25px;
}


#RockButton2{
    width:  15vw;
    height: 10vh;
    background-color: sienna;
    box-shadow: inset 0 0 1em black, 0 0 1em black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-image: url(images/rock.png);
    background-size: 100%;
}
#PaperButton2{
    width:  15vw;
    height: 10vh; 
    background-color: white;
    box-shadow: inset 0 0 1em black, 0 0 1em black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/paper.png);
    background-size: 100%;
    border-radius: 25px;
}
#ScissorsButton2{
    width:  15vw;
    height: 10vh;
    background-color: grey; 
    box-shadow: inset 0 0 1em black, 0 0 1em black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/scissors.png);
    background-size: 100%;
    border-radius: 25px;
}
#box31{
    height: 10vh;
     width: 50vw;
     background-color: darkslategray;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     box-shadow: inset 0 0 1em black, 0 0 1em black;
}

#box32{
    height: 20vh;
    width: 50vw;
    background-color: darkslategray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0 0 1em black, 0 0 1em black;
}

h1{
    font-size: 3.5vw;
}
#RockButton:hover{
    box-shadow: inset 0 0 3em white, 0 0 4em black;
    cursor: pointer;
}
#PaperButton:hover{
    box-shadow: inset 0 0 3em white, 0 0 4em black;
    cursor: pointer;
}
#ScissorsButton:hover{
    box-shadow: inset 0 0 3em white, 0 0 4em black;
    cursor: pointer;
}
#you{
    font-size: 10vw;
}

@media screen and (max-width: 500px) {
    #box{
        background-color: darkslategray;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        -webkit-box-shadow: 10px 9px 17px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 9px 17px 1px rgba(0,0,0,0.75);
        box-shadow: 10px 9px 17px 1px rgba(0,0,0,0.75);
        
    
    }
    #box1 {
        background-color: darkslategray;
        width: 100vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        box-shadow: inset 0 0 1em black, 0 0 1em black;
        user-select: none;
    
    }
    #box11{
        height: 10vh;
        width: 100vw;
        background-color: darkslategray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15vw;
        box-shadow: inset 0 0 1em black, 0 0 1em black;
    }
    
    #box12{
       height: 20vh;
       width: 100vw;
       background-color: darkslategray;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       align-items: center;
       
      
    }
    
    #box2{
        background-color: darkslategray;
        width: 100vw;
        height: 40vh;
        display: flex;
        box-shadow: inset 0 0 1em black, 0 0 1em black;
        flex-direction: column;
        align-items: center;
        align-content: center;
        

    }
    #box3{
        background-color: darkslategray;
        width: 100vw;
        height: 30vh;
        display: flex;
        box-shadow: inset 0 0 1em black, 0 0 1em black;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    
    }
    
    #RockButton{
        width:  30vw;
        height: 13vh;
        background-color: sienna;
        box-shadow: inset 0 0 1em black, 0 0 1em black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #PaperButton{
        width:  30vw;
        height: 13vh; 
        background-color: white;
        box-shadow: inset 0 0 1em black, 0 0 1em black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    #ScissorsButton{
        width:  30vw;
        height: 13vh;
        background-color: grey; 
        box-shadow: inset 0 0 1em black, 0 0 1em black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    
    #box31{
        height: 10vh;
         width: 100vw;
         background-color: darkslategray;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
    }
    
    #box32{
        height: 20vh;
        width: 100vw;
        background-color: darkslategray;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    h1{
        font-size: 6vw;
    }
    #RockButton2{
        width:  30vw;
        height: 13vh;
        background-color: sienna;
        box-shadow: inset 0 0 1em black, 0 0 1em black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #PaperButton2{
        width:  30vw;
        height: 13vh; 
        background-color: white;
        box-shadow: inset 0 0 1em black, 0 0 1em black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    #ScissorsButton2{
        width:  30vw;
        height: 13vh;
        background-color: grey; 
        box-shadow: inset 0 0 1em black, 0 0 1em black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    #you{
        font-size: 15vw;
    }

 }